.manufacture-container {
    padding: 30px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Header styles */
  h1 {
    color: #2c3e50; /* Darker shade for the main title */
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center; /* Centered header */
    font-weight: 700; /* Bold header */
    text-transform: uppercase; /* Uppercase text for emphasis */
  }
  
  /* Subheader styles */
  h2 {
    color: #34495e; /* Darker shade for subheadings */
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.8em;
    padding-bottom: 10px;
  }
  
  /* Paragraph styles */
  p {
    line-height: 1.8;
    margin-bottom: 15px;
    font-size: 1.1em; /* Slightly larger text for readability */
    color: #555; /* Gray color for text */
  }
  
  /* Ordered and unordered list styles */
  ol, ul {
    list-style-position: inside; /* Makes it look cleaner */
  }
  
  /* Link styles */
  a {
    color: #2980b9; /* Accent color for links */
    text-decoration: none; /* Removes underline */
    font-weight: 400; /* Slightly bold for emphasis */
  }
  
 
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .manufacture-container {
      padding: 20px; /* Adjust padding on smaller screens */
    }
  
    h1 {
      font-size: 2em; /* Slightly smaller font size for h1 */
    }
  
    h2 {
      font-size: 1.5em; /* Slightly smaller font size for h2 */
    }
  }