.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 200px;
  }
  
  .auth-box {
    /* background: url('C:\Users\LENOVO-V15\Desktop\UC\src\Components\Login\abc.jpg'); */
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .google-login-btn {
    width: 100%;
    padding: 0.75rem;
    margin-top: 10px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }